openapi: 3.2.0
info:
  title: CoverTrack API's Compliance API
  version: '1.0'
  summary: Various CoverTrack Functions
  description: "Provides API endpoints for: \n* Accessing the current coverage status for partner tenants\n* Generating Tenant Insurance quotes\n* Policy access for Partner Properties"
servers:
- url: https://api.covertrack.ca
  description: Production
- url: https://api.covertrack-dev.ca
  description: Test
tags:
- name: Compliance
paths:
  /compliance/{partnerId}/{propertyId}/{tenantId}:
    parameters:
    - schema:
        type: string
      name: partnerId
      in: path
      required: true
      description: The Partner name
    - schema:
        type: string
      name: propertyId
      in: path
      required: true
      description: The Property ID, or "P-Code"
    - schema:
        type: string
      name: tenantId
      in: path
      required: true
      description: The Tenant ID, or "T-Code"
    - schema:
        type: string
      in: header
      name: x-api-key
      description: 'The provided API Key '
    get:
      summary: Get Compliance Status for Tenant
      tags:
      - Compliance
      responses:
        '200':
          $ref: '#/components/responses/ComplianceStatus'
        '404':
          description: User Not Found
      operationId: get-compliance-status
      description: Retrieve the Tenant's current Compliance Status
      x-stoplight:
        id: pq6qtjfthcmap
  /compliance/{partnerId}/{propertyId}:
    parameters:
    - schema:
        type: string
      name: partnerId
      in: path
      required: true
      description: The Partner name
    - schema:
        type: string
      name: propertyId
      in: path
      required: true
      description: The Property ID, or "P-Code"
    - schema:
        type: string
      in: header
      name: x-api-key
      description: 'The provided API Key '
    get:
      summary: Get Compliance Status For Property
      tags:
      - Compliance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceStatus'
                  x-stoplight:
                    id: imi2rhmgrzb9h
      operationId: get-compliance-partnerId-propertyId
      x-stoplight:
        id: v3560q3xybcpg
      description: Retrieve the Compliance Statuses for all Tenants of a Property
  /compliance/callback/example:
    parameters:
    - schema:
        type: string
      in: header
      name: x-api-key
      description: API Key (recommended)
    post:
      summary: Post Policy Event to Partner Destination
      tags:
      - Compliance
      responses: {}
      operationId: post-compliance-callback-example
      x-stoplight:
        id: v0dqrojr6nrc7
      description: "Example of a partner destination callback that is invoked when a relevant Policy event occurs \n\n**Note** - this is not an actual endpoint, just the specification for the callback."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceStatus'
components:
  schemas:
    ComplianceStatusDetail:
      type: object
      x-stoplight:
        id: 3ygubt0pp6y5f
      x-examples:
        Example 1:
          partnerId: string
          propertyId: string
          tenantId: string
          status: string
          updatedAt: string
          policy:
            startDate: string
            endDate: string
            policyNumber: string
            provider: string
            liability: 0
          links:
            upload: string
      properties:
        partnerId:
          type: string
        propertyId:
          type: string
        tenantId:
          type: string
        status:
          type: string
          description: ACTIVE | PENDING | NOT_SUBMITTED | DECLINED
        updatedAt:
          type: string
        policy:
          type: object
          description: Optional policy details
          properties:
            startDate:
              type: string
            endDate:
              type: string
            policyNumber:
              type: string
            provider:
              type: string
            liability:
              type: integer
        links:
          type: object
          properties:
            upload:
              type: string
              description: Unique link for updating policy information
      title: ComplianceStatusDetail
    ComplianceStatus:
      type: object
      x-examples:
        Example 1:
          partnerId: string
          propertyId: string
          tenantId: string
          status: string
          updatedAt: string
          policy:
            startDate: string
            endDate: string
            policyNumber: string
            provider: string
            liability: 0
          links:
            upload: string
      properties:
        partnerId:
          type: string
        propertyId:
          type: string
        tenantId:
          type: string
        status:
          type: string
          description: ACTIVE | PENDING | NOT_SUBMITTED | DECLINED
        updatedAt:
          type: string
        policy:
          type: object
          description: Optional policy details
          properties:
            startDate:
              type: string
            endDate:
              type: string
            policyNumber:
              type: string
            provider:
              type: string
            liability:
              type: integer
  responses:
    ComplianceStatus:
      description: Policy Summary
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceStatusDetail'
x-stoplight:
  id: fu18p9wlkzenb
